src/node_modules
src/public/hot
src/public/storage
src/storage/*.key
src/storage/certs
src/composer.lock
src/vendor
src/.env
src/.env.backup
src/.phpunit.result.cache
src/Homestead.json
src/Homestead.yaml
src/npm-debug.log
src/yarn-error.log
src/.rnd
src/.idea/*
src/.idea/
src/.idea/workspace.xml
src/.idea/vcs.xml
src/.idea/phpunit.xml
src/.idea/php.xml
src/.idea/pateh-backend.iml
src/.idea/modules.xml
src/.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
src/.idea/commandlinetools/Laravel_5_17_21__9_45_AM.xml
src/.idea/runConfigurations
.idea
.idea/*
.idea/
.idea/workspace.xml
.idea/vcs.xml
.idea/phpunit.xml
.idea/php.xml
.idea/pateh-backend.iml
.idea/modules.xml
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
.idea/commandlinetools/Laravel_5_17_21__9_45_AM.xml
.idea/runConfigurations
src/bootstrap/cache/

.vscode/*


.DS_Store
src/.DS_Store
src/app/.DS_Store
src/app/Http/.DS_Store